body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: aliceblue;
}

.side-navigation {
    z-index: 0;
    width: 170px;
    height: 100%;
    position: absolute;
    display: inline;
    text-align: center;
    background-color: #252525;
}

.spacer {
    margin-top: 100px;
}

.navText {
    color: white;
    font-size: 20px;
    height: 40px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid rgba(160, 160, 160, 0.2);
}

.list-link {
    color: white;
    font-size: 14px;
    width: 100%;
    display: inline;
    text-decoration: underline;
}

nav {
    z-index: 1;
    width: 100%;
    height: 70px;
}

nav ul a {
    text-align: center;
    height: 70px;
    width: 100px !important;
    padding-top: 5px;
}

.nav-wrapper {
    background-color: #545454;
}

.body-container {
    margin-left: 170px;
}

.brand-logo.left {
    height: 40px;
    padding-left: 20px;
    padding-top: 5px;
}

.right.hide-on-med-and-down {
    height: 70px;
    padding-right: 20px;
}

footer {
    z-index: -2;
    background-color: #9e9e9e;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-left: 100px;
    height: 25px;
    margin-top: 100px;
    color: white;
    text-align: center;
}