body{
    font-family: 'Josefin Sans', sans-serif;
    background-color:aliceblue;
}

nav{
    height: 100px
}
.nav-wrapper{
    background-color: #545454;
}
.brand-logo.left{
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
.right.hide-on-med-and-down{
    height: 100px;
    padding-right: 20px;

}
nav ul a{
    text-align: center;
    height: 100px;
    width: 100px !important;
    padding-top: 20px ! important;
}
h3{
    margin-left: 20px;
}
.tabs{
    background-color: aliceblue;
}

.tabs .indicator{
    background-color: black ;
}

.tabs .tab a{
    color: lightslategray;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: blue;
}
div.col.s12{

    text-align: center;

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
}

div.col.s12.m6{
    width: 100%;
    height: 650px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    text-align: center;
}
.tabs .tab a{
    width: 75%;
}
.col.s12{
    text-align: center;
}
div.card{
    max-width: 500px;
    margin: auto;
}
.card .card-image img{
    width: 200px;
    display: inline;
    padding-top: 20px;
}
.card .card-content{
    text-align: center;
}
.card .card-content .card-title{
    padding-left: 100px;
}
ul:not(.browser-default){
    padding-left: 30px;
}




