body{
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    height: 100px
}
.nav-wrapper{
    background-color: #545454;
}
.brand-logo.left{
    height: 50px;
    padding-top: 15px;
    padding-left: 20px;
}
.right.hide-on-med-and-down{
    height: 100px;
    padding-right: 20px;

}
nav ul a{
    text-align: center;
    height: 100px;
    width: 100px !important;
    padding-top: 15px ! important;
}
h3{
    margin-left: 20px;
}

.tabs .indicator{
    background-color: black ;
}

.tabs .tab a{
    color: lightslategray;
}

.tabs .tab a:hover, .tabs .tab a.active{
    color: blue;
}
div.col.s12{
    padding-right: 50px;
    padding-left: 50px;
}
div.col.s12.m6{
    width: 100%;
    height: 650px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    text-align: center;
}
div.card.blue-grey.darken-1{
    height: 100%;
    text-align: center;
}




