body{
    background-image: url('../images/site/background.jpg');
    background-image: no-repeat center center fixed;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

main{
    height: auto;
    width: 90%;
    max-width: 1000px;
    min-width: 580px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

header #logo{
    width: 30%;
    min-width: 200px;
    max-height: 220px;
    padding: 20px;
    padding-bottom: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    background-color: red;
    margin-top: 30px;
    height: 60px;
}

nav .navLink{
    width: 10%;
    min-width: 120px;
    height: 84%;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-size: 30px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    
}
nav .navLink:hover{
    background-color: lightcoral;
}

h1#contentTitle{
    font-size: 50px;
    padding-left: 20px;
}

/************************************
* HOME PAGE CSS
*************************************/
div#homePage{
    display: flex;
    flex-direction: column;
}

#homePage #feature{
    background-image: url("../images/site/feature.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    min-height: 450px;
}

div#heroContainer:nth-child(1){
    width: 50%;
}

div#heroContainer:nth-child(2){
    padding-right: 20px;
}

#heroContainer ul{
    padding-left: 50%;
    padding-right: 25px;
    list-style: none;
    line-height: 25px;
    color: red;
    font-size: 19px;
    font-weight: bold;
}

div#recipesAndReviewsHeader{
    display: flex;
    justify-content: space-around
}

div#recipesAndReviews{
    display: flex;
    flex-direction: row;
    height: 500px;
    margin-bottom: 20px;
}

div#recipeContainer{
    display: flex;
    flex-direction: column;
    width: 50%;   
}

div#recipeBox{
    display: flex;
    flex-direction: row;
    height: 50%;
}
div#recipe{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    text-align: center;
}

img#recipe{
    width: 90%;
    height: auto;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

a#recipeLink{
    padding-top: 5%;
    font-size: 20px
}

ul#reviewList{
    font-weight: bold;
    line-height: 25px;
}

/************************************
* DYNAMIC PAGES CSS
*************************************/



/************************************
* FOOTER CSS
*************************************/
footer{
    border-top: 5px solid black;
    padding-top: 10px;
    text-align: center;
    font-size: 20px
}
